<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HamSearch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4DE9DA671E9C0AB40002655C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DE9DA7B1E9C0AB40002655C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DE9DA861E9C0AB40002655C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
